.container-fluid {
    padding: 0;
}
.navbar {
    background-color: #F4F5F9;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand img {
    max-width: 60px;
    max-height: 70px;
}
.nav-item {
    margin-right: 10px;
}
.nav-link {
    color: #111010;
    text-decoration: none;
    font-weight: 600;
}

.nav-link:hover {
    color: #5a15ba;
}

.btn {
    border-radius: 25px;
    padding: 10px 20px;
}
.btn-dark {
    background-color: #333;
    color: #ffffff;
}
.btn-dark:hover {
    background-color: #444;
}


/* Home page css */
.container {
    position: relative;
    width: 100%;
    text-align: left;
  }
  
  .image {
    width: 100%;
    left:0;
    height: auto;
  }
  
  .textStyleLarge1 {
    position: absolute;
    top: 39%;
    left: 3%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 39px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  .textStyleMedium1 {
    position: absolute;
    top: 55%;
    left: 3%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 24px;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
  }
  .textStyleLarge2 {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0);
    color: rgb(6, 6, 6);
    font-size: 39px;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-style: italic;
  }
  .textStyleMedium2 {
    position: absolute;
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(14, 13, 13);
    font-size: 24px;
    font-family: 'Georgia', sans-serif;
    font-weight: bold;
    text-align: center; 
    white-space: nowrap;
  }
  .textStyleMedium3 {
    position: absolute;
    top: 17%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(14, 13, 13);
    font-size: 24px;
    font-family: 'Georgia', sans-serif;
    font-weight: bold;
    text-align: center; 
    white-space: nowrap;
  }
  .textStyleLarge4 {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0);
    color: rgb(6, 6, 6);
    font-size: 39px;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-style: italic;
  }
  .textStyleMedium4 {
    position: absolute;
    top: 89%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(14, 13, 13);
    font-size: 24px;
    font-family: 'Georgia', sans-serif;
    font-weight: bold;
    text-align: center; 
    white-space: nowrap;
  }
  /* cards */
