.ab-title {
    text-align: center;
    font-size: xx-large;
  }

  .ab {
    margin-top: 20px;
    /* background-image: linear-gradient(#ecf1f1, rgb(225, 215, 215)); */
  }
  
  .ab-content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    /* background-color: rgb(217, 217, 217); */
    border-radius: 20px;
    font-size: large;
  }
.ah-img{
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.textStyleLarges1{
  position: absolute;
  top: 1%;
  left: 3%;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: 35px;
  font-weight: bolder;
}
.textStyleMediums1{
  position: absolute;
  top: 8%;
  left: 3%;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: 24px;
  font-weight: bolder;
}
.text1{
  margin-top: 20px;
  position: absolute;
  top: 13%;
  left: 3%;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: 18px;
  font-weight: bolder;
}
.text2{
  margin-top: 20px;
  position: absolute;
  top: 21%;
  left: 3%;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: 18px;
  font-weight: bolder;
}
.text3{
  margin-top: 10px;
  position: absolute;
  top: 29%;
  left: 3%;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: 18px;
  font-weight: bolder;
}


/* @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600'); */

.example-box {
  background-image: linear-gradient(to bottom right, rgb(146, 101, 235) ,#b998e4 );
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  color: white;
  font-weight: 200;
  z-index: 1;
}

.example-box * {
  z-index: 2;
}


.background-shapes {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 5076px;
  background-size: 100%;
  animation: 120s infiniteScroll linear infinite;
  background-repeat-x: repeat;
  background-image: url(https://cdn2.hubspot.net/hubfs/53/Pricing%202017%20Assets/marketing/Header_Circles-1.svg);
}

@-webkit-keyframes infiniteScroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -1692px, 0);
    transform: translate3d(0, -1692px, 0);
  }
}

@keyframes infiniteScroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -1692px, 0);
    transform: translate3d(0, -1692px, 0);
  }
}