.form {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 20px;
    width:45%;
  }
  
  .c_form {
    border-radius: 15px;
    padding: 20px;
    background-color: #ccc;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    font-style: italic;
  }
  
  input[type='text'],
  input[type='number'] {
    width:100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  input[type='text']:focus,
  input[type='number']:focus {
    outline: none;
  }
  
  .contactbutton {
    display: block;
    width: 30%;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #0b0b0b;
    color: white;
    cursor: pointer;
  margin: 0 auto;
  }
  
  .contactbutton:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: larger;
  }
  .container1-cbg {
    background-image: url('https://s3.ap-southeast-1.wasabisys.com/voltixsite/1698732652635_Home%20page%202.png?AWSAccessKeyId=HZKM3Y3VDAFTLNYLVPR1&Expires=1698791958&Signature=xj%2FvfrVJJHGvazeI9nk7UCfPcg0%3D');
    background-size: cover;
    width: 100%;
    height: 100vh; /* Set the height to 100% of the viewport height for fullscreen */
    margin: 0;
    display: flex;
    flex: auto;
    left: 0;
  }
/*   
  body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(216, 135, 211) 3%, rgb(175, 105, 198) 38%, rgb(191, 79, 193) 68%, rgb(177, 69, 182) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(217, 84, 235, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
} */