.form {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 20px;
    width:45%;
  }
  
  .c_form {
    border-radius: 15px;
    padding: 20px;
    background-color: #ccc;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    font-style: italic;
  }
  
  input[type='text'],
  input[type='number'] {
    width:100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  input[type='text']:focus,
  input[type='number']:focus {
    outline: none;
  }
  
  .contactbutton {
    display: block;
    width: 30%;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #0b0b0b;
    color: white;
    cursor: pointer;
  margin: 0 auto;
  }
  
  .contactbutton:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: larger;
  }
  .container1-cbg {
    background-image: url('https://s3.ap-southeast-1.wasabisys.com/voltixsite/1698732652635_Home%20page%202.png?AWSAccessKeyId=HZKM3Y3VDAFTLNYLVPR1&Expires=1698791958&Signature=xj%2FvfrVJJHGvazeI9nk7UCfPcg0%3D');
    background-size: cover;
    width: 100%;
    height: 100vh; /* Set the height to 100% of the viewport height for fullscreen */
    margin: 0;
    display: flex;
    flex: auto;
    left: 0;
  }

  html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(146, 101, 235) 50%, #b998e4 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
