.Ques {
    font-size: large;
    color: black;
  }
  
  .Ques:hover {
    font-weight: bolder;
    color: purple;
  }
  
  .faq {
    background-image: linear-gradient(#d6c4ff, #eeebf6);
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .ans {
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    font-size: large;
    padding-top: 25px;
    padding-bottom: 0px;
    font-weight: bold;
  }
/* body{
    animation: theme 21s linear infinite;
    
    &:after,
    &:before {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100vw; 
        height: 100vh; 
        width: 100vmax;
        height: 100vmax;
        background: rgba(0,0,0,0.05);
        animation: background 90s linear infinite;
    }

    &:after {
        left: 15vw;
    }

    &:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }
}

@keyframes theme {
    0% {
        background: #74C390;
    }
    
    16% {
        background: #5DBDB6;
    }
    
    33% {
        background: #59D4E1;
    }
    
    50% {
        background: #51BCE8;
    }
    
    66% {
        background: #FA5374;
    }    
    
    83% {
        background: #E46653;
    }

    100% {
        background: #74C390;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
} */

  @media (max-width: 768px) {
    .faq {
      margin-left: 10px; /* Adjust left margin for better spacing on mobile screens */
      margin-right: 10px; /* Adjust right margin for better spacing on mobile screens */
    }
  
    .Ques {
      font-size: medium; /* Adjust font size for better readability on mobile screens */
    }
  
    .ans {
      padding-left: 20px; /* Adjust left padding for better content alignment on mobile screens */
      padding-right: 20px; /* Adjust right padding for better content alignment on mobile screens */
      font-size: medium; /* Adjust font size for better readability on mobile screens */
      padding-top: 15px; /* Adjust top padding for better spacing on mobile screens */
      padding-bottom: 0; /* Remove bottom padding for better content alignment on mobile screens */
    }
  
    .text-center {
      text-align: center; /* Center-align text for mobile screens */
    }
    
    .btn-link {
      padding: 5px; /* Adjust button padding for better spacing on mobile screens */
    }
  
    .card-body.ans {
      padding: 10px; /* Adjust padding for better spacing on mobile screens */
    }
  
    .mb-0 {
      margin-bottom: 15px; /* Adjust margin for better spacing on mobile screens */
    }
    .wrapper{
      margin-bottom: 15px;
    }
  }