.footer {
    background-color: #333;
    color: #090909;
    padding: 20px 0;
    background-image: linear-gradient(#b55ecb,#F1F7F7);
    
  }
  body {
    margin: auto;
    overflow: auto;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    width: 30%;
    padding: 20px;
    text-align: left;
  }
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin: 5px 0;
  }
  
  .footer-section a {
    color: #161616;
    text-decoration: none;
  }
.footer-section i {
  font-size: 24px; 
  margin: 0 10px; 
}

.footer-section i.bxl-facebook-circle {
  margin-top: 10px;
}

.footer-section i.bxl-instagram-alt {
  margin-bottom: 10px;
}
.footer-section p {
  margin-top: 20px; 
}

.footer-section p{
    margin-bottom: 5px;
}
