.head{
    text-align: center;
    font-size: 30px;
    margin-top:30%;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.des{
    text-align: center;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.bx.bxs-right-arrow-circle{
    color: black;
    font-size: 24px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-bottom: 2px;
    bottom: 0%; 
    transform: translateY(-50%); 
    font-size: 33px; 
}
.pro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('https://s3.ap-southeast-1.wasabisys.com/voltixsite/1698735408155_LINE.png?AWSAccessKeyId=SYA94PA3KHO0CBEW4XPQ&Expires=1698792214&Signature=S0GFFPmX%2BdrtZKAMUrfMP5wouNQ%3D');
}
.img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.pbg{
    background-image: url('https://voltixsite.s3.wasabisys.com/1698757533487_TRIANGLEprojects%20bg.png?AWSAccessKeyId=DYOXIVQ4TYHAD0CTIVTA&Expires=1698930337&Signature=kIEtXejvZgWCBIreuKQ%2Bj9Rl%2BRA%3D');
}
.description{
    padding-left: 200px;
    padding-right: 200px;
}
.para{
    font-size: large;
}
:root{
    --gird-width:30px;
    --gird-height:30px;
    --line-color:#999;
    --dot-color:#ccc;
    --dot-size:2px;
    --point-gap-width:calc(var(--gird-width) * 4);
    --point-gap-height:calc(var(--gird-height) * 4);
  }
  html,body{
    padding:0;
    margin:0;
    width:100%;
    height: 100%;
  }
  /* .grid-bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
  } */
  
  .ba-grid{
    /* position: relative;
    z-index: 1; */
    
    background-image: 
  /*     radial-gradient(ellipse at center, #2883b6 0%, #084688 100%), */
      radial-gradient(ellipse at bottom left, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%),
      linear-gradient(to bottom, rgba(57,173,219,.25), rgba(246, 130, 184, 0.4)),
      linear-gradient(135deg, rgb(221, 112, 246), rgb(221, 112, 246));
  }
  
  
  .ba-grid:before,
  .ba-grid:after,
  .inner:before,
  .inner:after{
    content:'';
    position: absolute;
    z-index: 1;
    top:0;
    bottom:0;
    left:0;
    right:0;
    mix-blend-mode: overlay;
  }
  
  .ba-grid:before{
    /* background-image: 
      linear-gradient(var(--line-color), transparent 1px),
      linear-gradient(to right, var(--line-color), transparent 1px); */
    background-size:
      100% var(--gird-height),
      var(--gird-width) 100%;
  }
  
  .ba-grid:after{
    background-image: radial-gradient(var(--dot-color) 1px, transparent 1px);
    background-size: var(--point-gap-width) var(--point-gap-height);
    background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
  }
  
  
  
  .inner:before,
  .inner:after{
    background-image: radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size));
    background-size: var(--point-gap-width) var(--point-gap-height);
    background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);  
  
  }
  
  .inner:after{
    
    transform: scale(1.1, 1.1);
  }
  
  .inner:before{
  /*   background-image: radial-gradient(var(--dot-color) calc(var(--dot-size) + 1px), transparent calc(var(--dot-size) + 1px)); */
    transform: scale(1.2, 1.2);
  }
  
  .anim:after{
    animation: 6.4s linear move infinite;
  }
  
  .anim .inner:after{
    animation: 3.2s linear move infinite;
  }
  
  .anim .inner:before{
    animation: 1.6s linear move infinite;
  }
  
  @keyframes move{
    0%{
      background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
    }
    100%{
      background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2 * -1);
    }
  }