.head{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.des{
    text-align: center;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
/* .ser-det{
    margin-bottom: 80px;
    margin-left: 200px;
    margin-right: 200px;
} */
.img{
    width: 30%;
    height: auto;
    align-self: center;
}

.ser-img{
    padding-top: 20px;
    width: 30%;
    height: auto;
    align-self: center;
}
.c_ser{
    background-image: linear-gradient(#ecf1f1,#8f6ada);
}
.ser-btn{
    background-color: #D9D9D9;
    color: black;
    border-radius: 50px;
}
.ser-btn:hover{
    background-color: rgb(104, 49, 192);
}
/* Add hover animation */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }
.ser{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sb{
    background-image: url('https://s3.ap-southeast-1.wasabisys.com/voltixsite/1698746388395_bg%20homepage%20projects.png?AWSAccessKeyId=SYA94PA3KHO0CBEW4XPQ&Expires=1698790072&Signature=%2FoheoGyzMufCT6GXQQiEUolh5wY%3D');
  }
  .sdbg{
    background-image: url('https://s3.ap-southeast-1.wasabisys.com/voltixsite/1698749180792_service%20detail%20bg.png?AWSAccessKeyId=SYA94PA3KHO0CBEW4XPQ&Expires=1698792398&Signature=j%2B07bT0WjbxqqLQp%2FFFYIp2vv6Q%3D');
    padding-bottom: 50px;
  }
  .ser-des{
    padding-left: 100px;
    padding-right: 100px;
  }