.head{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.des{
    text-align: center;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
/* .ser-det{
    margin-bottom: 80px;
    margin-left: 200px;
    margin-right: 200px;
} */
.img{
    width: 30%;
    height: auto;
    align-self: center;
}

.ser-img{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
}
.c_ser{
    width: 500px;
    height: 400px;
    background-image: linear-gradient(#ecf1f1,#8f6ada);
    padding: 20px;
}
.ser-btn{
    background-color: #D9D9D9;
    color: black;
    border-radius: 50px;
}
.ser-btn:hover{
    background-color: rgb(104, 49, 192);
}
/* Add hover animation */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }
.ser{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
