.head{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.des{
    text-align: center;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.img{
    width: 30%;
    height: auto;
    align-self: center;
}

.ser-img{
    padding-top: 20px;
    width: 30%;
    height: auto;
    align-self: center;
}
.c_ser{
    background-image: linear-gradient(#ecf1f1,#8f6ada);
}
.ser-btn{
    background-color: #D9D9D9;
    color: black;
    border-radius: 50px;
}
.ser-btn:hover{
    background-color: rgb(104, 49, 192);
}
/* Add hover animation */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }
.ser{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
/* .sb{
    background-image: url('https://s3.ap-southeast-1.wasabisys.com/voltixsite/1698746388395_bg%20homepage%20projects.png?AWSAccessKeyId=ACEKXTCCZJ7I1BWFRF7T&Expires=1698862427&Signature=i1w2EgAjgPKFUgXgHG3VB%2B29CHg%3D');
  }
  .sdbg{
    background-image: url('https://s3.ap-southeast-1.wasabisys.com/voltixsite/1698749180792_service%20detail%20bg.png?AWSAccessKeyId=SYA94PA3KHO0CBEW4XPQ&Expires=1698792398&Signature=j%2B07bT0WjbxqqLQp%2FFFYIp2vv6Q%3D');
  } */
  :root{
    --gird-width:30px;
    --gird-height:30px;
    --line-color:#999;
    --dot-color:#ccc;
    --dot-size:2px;
    --point-gap-width:calc(var(--gird-width) * 4);
    --point-gap-height:calc(var(--gird-height) * 4);
  }
  /* html,body{
    padding:0;
    margin:0;
    width:100%;
    height: 100%;
  } */
  
  .ba-grid{
    /* position: relative;
    z-index: 1; */
    
    background-image: 
  /*     radial-gradient(ellipse at center, #2883b6 0%, #084688 100%), */
      radial-gradient(ellipse at bottom left, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%),
      linear-gradient(to bottom, rgba(57,173,219,.25), rgba(246, 130, 184, 0.4)),
      linear-gradient(135deg, rgb(227, 136, 248), rgb(238, 180, 251));
      padding:0;
    margin:0;
    width:100%;
    height: 100%;
  }
  
  
  .ba-grid:before,
  .ba-grid:after,
  .inner:before,
  .inner:after{
    content:'';
    position: absolute;
    z-index: 1;
    top:0;
    bottom:0;
    left:0;
    right:0;
    mix-blend-mode: overlay;
  }
  
  .ba-grid:before{
    /* background-image: 
      linear-gradient(var(--line-color), transparent 1px),
      linear-gradient(to right, var(--line-color), transparent 1px); */
    background-size:
      100% var(--gird-height),
      var(--gird-width) 100%;
  }
  
  .ba-grid:after{
    background-image: radial-gradient(var(--dot-color) 1px, transparent 1px);
    background-size: var(--point-gap-width) var(--point-gap-height);
    background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
  }
  
  
  
  .inner:before,
  .inner:after{
    background-image: radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size));
    background-size: var(--point-gap-width) var(--point-gap-height);
    background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);  
  
  }
  
  .inner:after{
    
    transform: scale(1.1, 1.1);
  }
  
  .inner:before{
  /*   background-image: radial-gradient(var(--dot-color) calc(var(--dot-size) + 1px), transparent calc(var(--dot-size) + 1px)); */
    transform: scale(1.2, 1.2);
  }
  
  .anim:after{
    animation: 6.4s linear move infinite;
  }
  
  .anim .inner:after{
    animation: 3.2s linear move infinite;
  }
  
  .anim .inner:before{
    animation: 1.6s linear move infinite;
  }
  
  @keyframes move{
    0%{
      background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
    }
    100%{
      background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2 * -1);
    }
  }

