
.container {
    position: relative;
    width: 100%;
    text-align: left;
  }
  
  .image {
    width: 100%;
    flex: auto;
    left:0;
    height: auto;
  }
  
  .textStyleLarge1 {
    position: absolute;
    top: 50%; /* Adjust the top value for vertical alignment */
    left: 3%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(17, 17, 17);
    font-size: 39px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    transform: translateY(-50%); /* Vertically center text */
}

.textStyleMedium1 {
    position: absolute;
    top: 65%; /* Adjust the top value for vertical alignment */
    left: 3%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(18, 18, 18);
    font-size: 24px;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
    transform: translateY(-50%); /* Vertically center text */
}

.textStyleLarge2 {
  position: relative;
  font-size: 39px;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
  .textStyleMedium2 {
      font-size: 24px;
      font-family: 'Georgia', sans-serif;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
  }
  .textStyleLarge3 {
    font-size: 39px;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.textStyleMedium3 {
    font-size: 24px;
    font-family: 'Georgia', sans-serif;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.textStyleLarge4 {
  font-size: 39px;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.textStyleMedium4 {
  font-size: 24px;
  font-family: 'Georgia', sans-serif;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
