.mar{
    width: 100%;
    height: 100%;
    margin-top: 65px;
    margin-bottom: 0%;
    left: 0%;
    right: 0%;
    align-items: center;
    padding: 0;
    margin-left: 0%;
    margin-right: 0;
    margin-bottom: 0;
}
/* *{
    margin: 0px;
    padding: 0px;
}
.context {
    width: 100%;
    position: absolute;
    top:50vh;
}
.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.area{
    background:linear-gradient(-60deg,rgb(184, 152, 247) 45%, #f7f5f9 30%);
    width: 100%;
    height: auto;
}*/
.circles{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.circles li{
    /* position: absolute; */
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(86, 10, 97, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(86, 10, 97, 0.2);
    animation: animate 25s linear infinite;
    bottom: -90px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    right: 30%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 60%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 65%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(11){
    left: 70%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(13){
    left: 79%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(12){
    left: 85%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

} 
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(183, 158, 232) 50%, #d4b5f5 30%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
    height: 100%;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
